

/* Grid */
.grid-container {
    margin: 3rem 4rem;
    padding: 5rem 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    grid-row-gap: 100px;
    justify-items: center;
}


/* Boxes */
.box1 {
    left: 100px;  
    top: 100px;

    width: 0;
    height: 0;
    border-top: 125px solid transparent;
    border-right: 125px solid black;
    border-bottom: 125px solid transparent;
}

.box2 {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 75px solid rgb(165, 164, 164);
    border-bottom: 75px solid transparent;
    transform: rotate(-90deg);
    align-self: center;
}

.box3 {
    right: 100px;
    top: 100px;
    border-top: 125px solid transparent;
    border-right: 125px solid rgb(231, 59, 59);
    border-bottom: 125px solid transparent;
    align-self: center;
    margin-top: 13rem;
}

.box4 {
    width: 75px;
    height: 75px;
    background-color: rgb(217, 175, 91);
    transform: rotate(-45deg);
}

.box5 {
    border-top: 100px solid transparent;
    border-right: 100px solid rgb(46, 115, 208);
    grid-column: 3;
    justify-self: start;  
    margin-top: 2rem;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box11 {
    width: 100px;
    height: 100px;
    background-color: gray;
}