h1{
    text-align: center;
}

nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
}

/* Grid */
.grid-container {
    margin: 3rem 4rem;
    padding: 5rem 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    grid-row-gap: 100px;
    justify-items: center;
}


/* Boxes */
.box1 {
    position: relative;
    /* width: 0;
    height: 0; */
    border-top: 125px solid transparent;
    border-right: 125px solid black;
    border-bottom: 125px solid transparent;
    animation: move1 5s infinite;
}
@keyframes move1 {
  from {left: 0rem;}
  to {left: 22.25rem;}
}

.box2 {
    position: relative;
    border-top: 75px solid transparent;
    border-right: 75px solid rgb(165, 164, 164);
    border-bottom: 75px solid transparent;
    transform: rotate(-90deg);
    align-self: center;
    animation: move2 5s infinite;
}
@keyframes move2 {
  from {left: 0rem;}
  to {left: 5rem;}
}

.box3 {
    position: relative;
    right: 100px;
    top: 100px;
    border-top: 125px solid transparent;
    border-right: 125px solid rgb(231, 59, 59);
    border-bottom: 125px solid transparent;
    align-self: center;
    animation: move3 5s infinite;
}
@keyframes move3 {
  from {
    border-top: 125px solid transparent;
    border-right: 125px solid rgb(231, 59, 59);
    border-bottom: 125px solid transparent;
    right: 0;
    }
  to {
    border-top: 180px solid transparent;
    border-right: 180px solid rgb(231, 59, 59);
    border-bottom: 180px solid transparent;
    right: 22rem;
    }
}

.box4 {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: rgb(217, 175, 91);
    transform: rotate(-45deg);
    animation: move4 5s infinite;
}
@keyframes move4 {
    from {
        bottom: 0;
        left: 0rem;
    }
    to {
        bottom: 25px;
        left: 19.25rem;
    }
}

.box5 {
    position: relative;
    border-top: 100px solid transparent;
    border-right: 100px solid rgb(46, 115, 208);
    grid-column: 3;
    justify-self: start;  
    margin-top: 2rem;
    animation: move5 5s infinite;
}
@keyframes move5 {
    from {
        transform: none;
        bottom: 0;
        right: 0;
        border-top: 100px solid transparent;
        border-right: 100px solid rgb(46, 115, 208);
    }
    to {
        transform: rotate(90deg);
        bottom: 4.75rem;
        right: 14.35rem;
        border-top: 120px solid transparent;
        border-right: 120px solid rgb(46, 115, 208);
    }
}

.box6 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box11 {
    width: 100px;
    height: 100px;
    background-color: gray;
}